<!-- template/template.html -->
<style>
    /* 제목 사이 간격 */
    .notion-page-content {
        margin-top: -30px !important;
    }

    .notion-page-details-controls {
        display: none !important;
    }

    /* 칼럼 width */
    .notion-page-content>.notion-column_list-block>div:first-child>div:nth-child(1) {
        width: calc(100% - 46px - 300px) !important;
    }

    .notion-page-content>.notion-column_list-block>div:first-child>div:nth-child(3) {
        width: 300px !important;
    }
</style>